node_modules/
.env
.env.local
.env.*.local
.DS_Store
dist/
build/
logs/
logs/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage/
.nyc_output/
*.log
tmp/
temp/
.cache/
.vscode/
.idea/
.parcel-cache/
.vercel/
.serverless/
.turbo/
*.pid
*.seed
.pids/
prisma/.env
.prisma/client/